body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding: 5px;
}

.NameButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RenderList {
  max-width: 500px;
  background-color: rgb(42, 220, 214);
  padding: 5px;
  border-radius: 5px;
}

.componentsShow {
  text-align: center;
  background-color: rgb(35, 194, 189);
  margin-left: 5px;
  padding: 5px 5px 15px 15px;
  border-radius: 5px;
}

.timerSpan {
  margin: 0 10px 0 10px;
}